# This is Git's per-user configuration file.
[user]
	name = nprimo
	email = primo.niccolo@gmail.com
[core]
	editor = nvim
[init]
    defaultBranch = main
[alias]
    graph = "log --all --graph --decorate --oneline"
    update =  !git fetch --prune && git pull --ff-only
    update-force = !git fetch && git pull -r --autostash
    fpush = !git push --force-with-lease origin HEAD
